<%@expenses.each do |exp|%>
<div class="ibox-content">
  <%= link_to "#{exp.description}", "/expenses/#{exp.id}/edit" %></br>
  Amount: <%=number_to_currency(exp.amount)%></br>
  Day of the month: <%=exp.date%></br>
  
</div>
<%end%>
